.w-layout-header {
    border-bottom: 1px solid $color-light-grey;
    box-shadow: 0px 1px 0px #ffffff;
    height: 105px;
    line-height: 105px;
    text-align: center;
    width: 100%;
}

.w-layout-header-logo {
    @include vertical-align-middle();
    text-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.75);
    color: $color-light-grey;
    font-family: $font-museo-bold;
    font-size: 56px;
    display: inline-block;
}